
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

* {
	margin: 0;
	padding: 0;
}
/***********Header***********/

header {
	background-color: black;
	border-bottom: 2px solid #FFFF00;
	height: 50px;
	overflow: hidden;
	padding: 15px 0px 0px 0px;
	margin-bottom: 0px;
}

header h1 {
	color: #FFFF00;
	padding: 0px 75px;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 24px;
	float: left;
}

header nav {
	color: white;
	float: right;
	margin-right: 50px;
	padding-top: 6px;
}

header nav ul li {
	float: left;
	padding-right: 25px;
}


header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;

}

header nav ul li.allCaps span {
	background-color: #c6c6c6;
	padding: 100% 5px;
}

header nav ul li.noCaps {
	text-transform: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	list-style: none;
	font-size: 14px;
}

/***********Brains***********/

#brains {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-weight: 700;
	text-align: center;
	margin: auto;
	background-color: #c6c6c6;
	padding: 12px 0px;
	font-size: 18px;
}

#brains .slash {
	text-decoration: line-through;
	color: #969696;
}

#brains .underline {
	border-bottom: 2px solid #ffff00;
}

/***********Hero***********/

#hero {
	background-image: url("../images/coworking.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
}


aside.box {
	background: rgba(255,255,255,0.75);
	height: 270px;
	width: 465px;
	float: right;
	margin: 35px 70px 35px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.box h2 {
	font-weight: 700;
}

aside.box p {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 70%;
}

aside.box button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #FFFF00;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 5px 0px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #cccb2c;
}

/***********Three Columns***********/

#threeColumns {
	display: flex;
	margin: 30px 100px;
} 

#threeColumns .column1 {
	margin: 0px 30px;
} 

#threeColumns .column1 h2 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 18px;
}

#threeColumns .column1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;	
}

#threeColumns .column1 button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #c6c6c6;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 5px 0px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #969696;
}

/***********Contact Columns************/

#grayBackground {
	background-color: #C6C6C6;
	height: 100%;
}

#flexColumns {
	background-color: #C6C6C6;
	height: 387px;
	display: flex;
	margin: 15px 55px;
}

#flexColumns .column2 {
	margin: 0px 10px;
	background-color: #fff;
	height: 383px;
	width: 24.625%;
} 

#flexColumns .column2 img {
    display: block;
    margin: auto;
    height: 240px;
    width: 90%;
    padding-top: 10px;
}

#flexColumns .column2 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 90%;	
	margin-left: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
}

#flexColumns .column2 span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #fff;
	background-color: #000;
	border: .5px solid #000;
	border-radius: 20px;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 15px;
	margin-right: -12px;
	padding: 4px 13px;
}


#flexColumns .column2 button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #FFFF00;
	font-weight: 700;
	font-size: 18px;
	width: 90%;
	padding: 5px 0px;
	margin: 20px 10px 0px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #969696;
}

/***********Footer***********/

footer {
	background-color: #000;
	color: #fff;
	padding: 25px 75px;
}

footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;